<% layout('layouts/boilerplate') %>
<h1>All Resorts</h1>
<div>
    <a href="/resorts/new">Add Resorts</a>
</div>
<ul>
    <% for (let resort of resorts){%>
    <li><a href="/resorts/<%= resort._id %>"><%= resort.title %></a></li>
    <% }%>
</ul>