<% layout('layouts/boilerplate') %>

<form action="/resorts" method="POST">
    <div>
        <label for="title">Title</label>
        <input type="text" id="title" name="resort[title]">
    </div>
    <div>
        <label for="location">Location</label>
        <input type="text" id="location" name="resort[location]">
    </div>
    <button>Add Campground</button>
</form>
<a href="/resorts">Show All Resorts</a>